body{
    background:rgb(241, 241, 169);
}

.container{
    
    height: 100vh;
    display:Flex;

}
.quotes{
    border: 10px solid pink;
    width: 900px;
    height:450px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color:darkgrey;
    background-color:white;
}

.quotes p, .quotes h3{
    font-size: 1.5 rem;
}
.button{
    text-align: center;
}

@media(max-width:450px){
    .quotes p, .quotes h3{
        font-size: 1 rem;
    }
}